APPSTORESPY_API_KEY=3cf988354795c273a1dbc7174b74ac6a3ab57803
GEMINI_API_KEY=AQ.Ab8RN6KybU0gx9Z1z1TP_-s4hSTj2nmQ0bp_Jw2xOH-T2hn9Kw

APPSTORESPY_BASE_URL=https://api.appstorespy.com/v1

DEFAULT_STORE=google_play
DEFAULT_COUNTRY=US
DEFAULT_LANGUAGE=en_US

TOP_APPS_LIMIT=5
REQUEST_TIMEOUT=30
GEMINI_MAX_RETRIES=2

FRONTEND_ORIGIN=http://localhost:5173
